body{
	width: 100%;
	background: black;

}

.cuerpo{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-areas: 
	"top top" 
	"nav nav" 
	"cont cont " 
	"barinf barinf";
	grid-column-gap: 5px;
}

.top{
	grid-area: top;
	background: white;
	width: 100%;
	height: 80%;
	display: grid;
	grid-column-gap: 3px;
}

.bn1{
	padding-right: 10px;
	border-right: solid 2px;
}

.bn4{
	font-size: 15px;
	border-radius: 5px;
	background: white;
	border-right: solid 2px;
	width: 150px;
	padding: 3px 0px 3px 1px;
}

.Barnav{
	grid-area: nav;
	background-color: white;
	border: solid black 1px;
	height: 90%;
	padding: 4px 2px 2px 2px;
	display: flex;
	justify-content: center;
}

.bot{
	margin: 0.5% 0 0 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "us re";
}

.us{
	grid-area: us;
}

.re{
	grid-area: re;
}

.BarCentral{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2%;
	grid-row-gap: 2%;
	grid-template-areas: 
	"item1 item1 item2"
	"item1 item1 item3"
	"item4 item4 item4"
	"item5 item6 item7"
	"item8 item9 item10";
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10{

	color: white;
	border: solid white 0.5px;
	grid-area: item1;
}

.item2{
	grid-area: item2;
}

.item3{
	grid-area: item3;
}

.item4{
	grid-area: item4;
}

.item5{
	grid-area: item5;
}

.item6{
	grid-area: item6;
}

.item7{
	grid-area: item7;
}

.item8{
	grid-area: item8;
}

.item9{
	grid-area: item9;
}

.item10{
	grid-area: item10;
}

.Registro{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-areas: "item1";

}

.Regis{
	background: white;
	border-right: solid white 0.5px;
	border-radius: 10px;
	grid-area: item1;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: ". cua .";
}

.Regis2{
	font-family: calibre;
	font-weight: bold;
	font-size: 15px;	
	grid-area: cua;
	border: solid 1px;
	margin: 20px 50px 20px 50px;
	padding: 50px 100px 30px 100px;
	background: lightblue;
}


.Noticiaweb{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 2%	;
	grid-template-areas: 
	"not1 not1 not1"
	"not2 not2 not2"
	"not3 not3 not3"
	"not4 not4 not4"
	"not5 not5 not5"
	"not6 not6 not6"
	"not7 not7 not7"
	"not8 not8 not8"
	"not9 not9 not9"
	"not10 not10 not10";

}

.not1, .not2, .not3, .not4, .not5, .not6, .not7, .not8, .not9, .not10{
	color: white;
	border: solid white 0.5px;
	border-bottom: solid black 0.5px;
}

.not1{
	grid-area: not1;
}

.not2{
	grid-area: not2;
}

.not3{
	grid-area: not3;
}

.not4{
	grid-area: not4;
}

.not5{
	grid-area: not5;
}

.not6{
	grid-area: not6;
}

.not7{
	grid-area: not7;
}

.not8{
	grid-area: not8;
}

.not9{
	grid-area: not9;
}

.not10{
	grid-area: not10;
}

.Peliculas{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 10%;
	grid-row-gap: 5px;
	grid-template-areas: 
	"peli1 peli2 peli3"
	"peli4 peli5 peli6"
	"peli7 peli8 peli9"
	"peli10 . .";
}

.peli1, .peli2, .peli3, .peli4, .peli5, .peli6, .peli7, .peli8, .peli9, .peli10{
	color: white;
	border: solid white 0.5px;
}

.peli1{
	grid-area: peli1;
}


.peli2{
	grid-area: peli2;
}

.peli3{
	grid-area: peli3;
}

.peli4{
	grid-area: peli4;
}

.peli5{
	grid-area: peli5;
}

.peli6{
	grid-area: peli6;
}

.peli7{
	grid-area: peli7;
}

.peli8{
	grid-area: peli8;
}

.peli9{
	grid-area: peli9;
}

.peli10{
	grid-area: peli10;
}

.hi1, .hi2{
	color: white;
	margin-top: 10px;
	margin-bottom: 0;
	border-right: solid white 0.5px;
	padding: 5px 10px 5px 10px;
}

.hi2{
	margin-top: 3px;
}

.Genero{
	margin-top: 2%;
	padding: 5% 10% 10% 10%;
	border-right: solid white 0.5px;
	font-size: 15px;
	display: grid;
	grid-column-gap: 20%;
	grid-row-gap: 5%;
	grid-template-areas: 
	"gen1 gen2"
	"gen3 gen4"
	"gen5 gen6"
	"gen7 gen8"
	"gen9 gen10"
	"gen11 .";
}


.gen1, .gen2, .gen3, .gen4, .gen5, .gen6, .gen7, .gen8, .gen9, .gen10, .gen11{
	color: white;	
	padding: 5% 10% 5% 5%;
	font-size: 80%;
	border-right: solid 1px;
	border-bottom: solid 1px;
}

.gen1{
	grid-area: gen1;
}

.gen2{
	grid-area: gen2;
}

.gen3{
	grid-area: gen3;
}

.gen4{
	grid-area: gen4;
}

.gen5{
	grid-area: gen5;
}

.gen6{
	grid-area: gen6;
}

.gen7{
	grid-area: gen7;
}

.gen8{
	grid-area: gen8;
}

.gen9{
	grid-area: gen9;
}

.gen10{
	grid-area: gen10;
}

.gen11{
	grid-area: gen11;
}

.barinf{
	border-top: solid black 1px;
	margin: 5% 0 0 0;
	grid-area: barinf;
	background: white;
}