body{
	width: 100%;
	background: black;

}

.cuerpo{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-areas: 
	"top top" 
	"nav nav" 
	"redes redes"
	"cont cont " ;
	grid-column-gap: 5px;
}

.top{
	grid-area: top;
	background: white;
	width: 100%;
	height: 80%;
	display: grid;
	grid-column-gap: 3px;
}

.bn1{
	padding-right: 5%;
	border-right: solid 2px;
}

.Barnav{
	grid-area: nav;
	background-color: white;
	border: solid black 1px;
	height: 90%;
	padding: 0.5% 0.3% 0.3% 0.3%;
	display: flex;
	justify-content: center;
}
.top1{
	font-size: 250%;
}

.bot{
	margin: 0.5% 0 0 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "us re";
}

.us{
	grid-area: us;
	margin-right: 5%;
}

.re{
	grid-area: re;
}

.BarCentral{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
}

.carousel{
	margin: 2% 0 0% 5%;
	padding: 0 0 0 0;
	width: 90%;
	height: 40%;
}

.GR{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	align-items: center;
}

.g-col-4{
	border: solid white 0.5px;
	padding: 5% 5% 5% 5%;
	margin: 3% 0 3% 0;
}

.row{
	margin: 2% 0 2% 2%;
}

.item{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	width: 98%;
	height: 3%;
	font-size: 100%;
	font-weight: bold;
	margin-left: 1%;
	color: white;
	border: solid white 0.5px;
	grid-area: item1;
}


.Registro{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-areas: "item1";

}

.Regis{
	background: white;
	border-right: solid white 0.5px;
	border-radius: 10px;
	grid-area: item1;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.Regis2{
	font-family: calibre;
	font-weight: bold;
	font-size: 15px;	
	border: solid 1px;
	margin: 10% 20% 10% 20%;
	padding: 10% 5% 10% 5%;
	background: lightblue;
}


.Noticiaweb{
	width: 99%;
	height: 100%;
	padding: 0.8% 0 0 0;
	margin: 0 0% 20% 0.5%;
	grid-area: cont;
}

.g-col-6{
	border: solid white 0.5px;
	padding: 5% 5% 5% 5%;
	margin: 3% 0 3% 0;
}



.redes{
	font-size: 5px;
	border-top: solid black 1px;
	margin: 0 0 0 0;
	grid-area: redes;
	background: white;
}