{% extends "./login/Baselogin.html" %}


{% block title %} Descargar Estren {% endblock %}


{% block body %}

	<div class="Noticiaweb">
		<div class="GR grid">
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		  <div class="g-col-6">.g-col-6</div>
		</div>
	</div>

{% endblock %}