<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock %}</title>
  <!--bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <!-- css personal -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div class="cuerpo">

    <header class="top">
      <a class="dropdown-item" href="/"><h1 class="top1">Movie Life</h1></a>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Contraseña</label>
      </div>

      <div class="top4">
        <button>Entrar</button>
        <button><a class="dropdown-item" href="/registro">Registrarse</a></button>
      </div>

<!--
      <div class="top2"><label for="email">Usuario</label>
        <input type="text" id="email" ></div>
      <div class="top3"><label for="Contraseña">Contraseña</label>
        <input type="password" autocomplete="" name="Contraseña" id="Contraseña"></div>
      <div class="top4">
      <button>Login</button>
      <button><a href="/registro">Registrarse</a></button>
      </div>
-->
    </header>

    <nav class="navbar navbar-expand-lg bg-light Barnav">
      <div class="container-fluid">
        <a class="navbar-brand bn1" href="/noticia">Noticia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="navbar-brand bn1" aria-current="page" href="/eventos">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand bn1" href="/estrenos">Estrenos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle bn1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Descargar
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/todas_las_peliculas">Todas</a></li>
                <li><a class="dropdown-item" href="/peliculas_recientes">Recientes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Genero</a></li>
              </ul>
            </li>
           </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
<!--
    <nav class="Barnav ">
      <div class="nav1">
        <a href="/noticia" class="bn1">NOTICIA</a>
        <a href="/estrenos" class="bn2">ESTRENOS</a>
        <a href="/eventos" class="bn3">EVENTOS</a>
      </div>
      <div class="nav2">
        <details class="bn4"><summary>DESCARGAS</summary>
            <a href="/todas_las_peliculas" class="bn42">Todas</a><br>
            <a href="/peliculas_recientes" class="bn42">Estrenos</a><br>
            <details class="bn42"><summary>Generos</summary>
              <ul>
                <li>Animación</li>
                <li>Acción</li>
                <li>Comedia</li>
              </ul>
            </details></li>
        </details>
      </div>
    </nav>
-->

    <div class="BarDerecha">
      <h3 class="hd1">Noticia</h3>
        <ul class="Noticia list-group list-group-flush">
          <li class="list-group-item"><a class="dropdown-item" aria-current="page" href="/disney">Disney</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/warner">Warner</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/marvel">Marvel</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/dc">DC Comic</a></li>
        </ul>
      <h3 class="hd2">Eventos</h3>
        <ul class="Estrenos list-group list-group-flush">
          <li class="list-group-item"><a class="dropdown-item" href="/disneye">Disney</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/warnere">Warner</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/marvele">Marvel</a></li>
          <li class="list-group-item"><a class="dropdown-item" href="/dce">DC Comic</a></li>
        </ul>
    </div> 
  {% block body %}

  {% endblock %}
    <div class="BarIzquierda">

      <div class="Buscador">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
<!--        
        <input type="text" id="serch">
        <button>Buscar</button>   
-->
      <h2 class="hi1">Descarga</h2>

        <h3 class="hi2">Genero</h3>

        <div class="Genero">
          <div class="gen1"><a class="dropdown-item" href="">Animación</a></div>
          <div class="gen2"><a class="dropdown-item" href="">Acción</a></div>
          <div class="gen3"><a class="dropdown-item" href="">Comedia</a></div>
          <div class="gen4"><a class="dropdown-item" href="">Musical</a></div>
          <div class="gen5"><a class="dropdown-item" href="">Suspenso</a></div>
          <div class="gen6"><a class="dropdown-item" href="">Thriller</a></div>
          <div class="gen7"><a class="dropdown-item" href="">Terror</a></div>
          <div class="gen8"><a class="dropdown-item" href="">Romance</a></div>
          <div class="gen9"><a class="dropdown-item" href="">Western</a></div>
          <div class="gen10"><a class="dropdown-item" href="">Documental</a></div>
          <div class="gen11"><a class="dropdown-item" href="">Bio pic</a></div>
        </div>
    </div>

    <footer class="barinf">
      <div>
        <h3>Redes Sociales</h3>
      </div>
    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>