<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock %}</title>
  <!--bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <!-- css personal -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <div class="cuerpo">

    <header class="top">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
      <!--  <a class="navbar-brand bn1" href="/login/noticia">Noticia</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--
            <li class="nav-item">
              <a class="navbar-brand bn1" aria-current="page" href="/eventos">Eventos</a>
            </li> 
            <li class="nav-item">
              <a class="navbar-brand bn1" href="/noticia">Noticias</a>
            </li>
-->

            <li class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle bn1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Noticias
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/eventos"href="/noticia">Principales Noticias</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/disney">Disney</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/warner">Warner</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/marvel">Marvel</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/dc">DC Comic</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle bn1"  href="/noticia" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Eventos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/eventos">Principales Eventos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/disneye">Disney</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/warnere">Warner</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/marvele">Marvel</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/dce">DC Comic</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="navbar-brand bn1" href="/estrenos">Estrenos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="navbar-brand dropdown-toggle bn1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Descargar
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/todas_las_peliculas">Todas</a></li>
                <li><a class="dropdown-item" href="/peliculas_recientes">Recientes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="navbar-brand dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genero
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Animación</a></li>
                  <li><a class="dropdown-item" href="#">Acción</a></li>
                  <li><a class="dropdown-item" href="#">Musical</a></li>
                  <li><a class="dropdown-item" href="#">Belico</a></li>
                  <li><a class="dropdown-item" href="#">Terror</a></li>
                  <li><a class="dropdown-item" href="#">Adaptaciones</a></li>
                  <li><a class="dropdown-item" href="#">De epoca</a></li>
                  <li><a class="dropdown-item" href="#">Thriller</a></li>
                </ul>
                </li>
              </ul>
            </li>
           </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <div class="Barnav">
      <a class="dropdown-item" href="/"><h1 class="top1">Movie Life</h1></a>

      <div class="bot">
          <button class="us"><a class="dropdown-item" href="/inicio_de_sesion">Entrar</button>
          <button class="re"><a class="dropdown-item" href="/registro">Registrarse</a></button>
      </div>
    </div>


  {% block body %}

  {% endblock %}
  
</div>

    <footer class="barinf">
      <div>
        <h3>Redes Sociales</h3>
      </div>
    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>