{% extends "./Base.html" %}


{% block title %} Registro	{% endblock %}


{% block body %}
	<div class="Registro">
		<div class="Regis">
			<div class="Regis2">
			<label for="Usuario">Usuario</label><br>
			<input type="text" id="Usuario"><br><br>
			<label for="email">Correo electronico</label><br>
			<input type="text" id="email"><br><br>
			<label for="password">Contraseña</label><br>
			<input type="password" id="password"><br><br>
			<label for="confirm password">Confirmación de Contraseña</label><br>
			<input type="password" id="confirm password"><br><br>

			<button>Registrarse</button>
			</div>
		</div>
	</div>

{% endblock %}