{% extends "./Base.html" %}


{% block title %} Registro	{% endblock %}


{% block body %}
	<div class="Registro">
		<div class="Regis">
			<div class="Regis2">
				<div class="form-floating mb-3">
		          <input type="text" class="form-control" id="floatingInput" placeholder="JExample">
		          <label for="floatingInput">Usuario</label>
		        </div>
		        <div class="form-floating mb-3">
		          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
		          <label for="floatingInput">Correo Electronico</label>
		        </div>
		        <div class="form-floating mb-3">
		          <input type="text" class="form-control" id="floatingInput" placeholder="gdfsgh">
		          <label for="floatingInput">Contraseña</label>
		        </div>
		        <div class="form-floating mb-3">
		          <input type="text" class="form-control" id="floatingInput" placeholder="gdfsgh">
		          <label for="floatingInput">Confirmar Contraseña</label>
		        </div>

			<button>Registrarse</button>
			</div>
		</div>
	</div>

{% endblock %}